<% include partialssemanticui/header %>
<div class="marginTop">
    <p>Welcome to <%= title %></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam dignissimos ducimus eum
        exercitationem,
        expedita incidunt maxime obcaecati odio perspiciatis quisquam reprehenderit sed. Aliquid eum id labore
        praesentium
        tenetur unde.</p>
</div>

<!--<div class="row">-->
    <% postArray.forEach(function(post){ %>
    <!--<div class="col-lg-4 col-sm-6 col-xs-12 ">-->
    <!--<div class="thumbnail">-->
<div class="ui main text container segment">
    <div class="ui huge header">
        <a href="/posts/<%= post.id %>"><%= post.title.substring(0, 20) %>...</a>
    </div>
    <div class="ui containter">

        <h6><em>Posted: <%= post.created %></em></h6>
        <div><img height="250" width="250" class="ui centered medium bordered image rounded" title="<%= post.title %>"
                  alt="<%= post.title %>"
                  src="<%= post.image %>"/></div>
        <div class="ui text container"><p class="textTypo"><%= post.body.substring(0, 50) %>...</p></div>
        <!--</div>-->
        <!--</div>-->
    </div>


</div>
<% }) %>

<!--</div>-->

<a class="ui fluid primary animated fade button" href="/posts/new">
    <div class="visible content">Create new post</div>
    <div class="hidden content">
        <i class="fa fa-save" aria-hidden="true"></i>
    </div>
</a>


<% include partialssemanticui/footer %>