<% include partialssemanticui/header %>
<div class="marginTop">
    <p>Welcome to <%= title %></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam dignissimos ducimus eum
        exercitationem,
        expedita incidunt maxime obcaecati odio perspiciatis quisquam reprehenderit sed. Aliquid eum id labore
        praesentium
        tenetur unde.</p>
</div>


<!-- Got post object fron db as postArray. Using foreach function to iterate through the array -->
<% postArray.forEach(function(post){
    var title = post.title;
    var id = post.id;
    var image = post.image;
    var body = post.body;
    var creationTime = post.created;
%>
<div class="ui  text container segment">
    <div class="ui huge header">
        <!-- Display short title -->
        <a href="/posts/<%= id %>"><%= title %>...</a>
    </div>
    <div class="ui to pattached segement">
        <div class="ui divided items">
            <div class="item">
                <div class="image">
                    <!-- Displaying image for the post -->
                    <img height="250" width="250" class="ui centered medium bordered image rounded"
                         title="<%= title %>"
                         alt="<%= title %>"
                         src="<%= image %>"/>
                </div>

                <div class="content">
                    <!-- Displaying body, which is also sortened version -->
                    <div class="description"><%= body %>...</div>
                    <!-- Some meta info. Date posted in this case -->
                    <div class="meta"><em>Posted: <%= creationTime.toDateString() %></em></div>
                </div>
            </div>
                </div>
            </div>
        </div>
<% }) %>

<!-- Adding button for new post creation -->
<div class="ui padded text container">
    <a class="ui fluid primary animated fade button" href="/posts/new">
        <div class="visible content">Create new post</div>
        <div class="hidden content">
            <i class="fa fa-save" aria-hidden="true"></i>
        </div>
    </a>
</div>


<% include partialssemanticui/footer %>