<% include partialssemanticui/header %>


<div class="marginTop">
    <div class="ui main text container segment marginTop">
        <div class="ui huge header">Edit: <%= post.title %></div>
        <!-- Form that is goinf to be used editing the post  -->
        <form class="ui form" action="/posts/<%= post.id %>?_method=PUT" method="post">
            <div class="field">
                <input required type="text" name="postTitle" placeholder="post title" value="<%= post.title %>"/>
            </div>

            <div class="field">
                <textarea required type="text" name="postBody" placeholder="post"><%= post.body %></textarea>
            </div>

            <div class="field">
                <input required type="url" name="postImage" placeholder="post image url" value="<%= post.image %>"/>
            </div>

            <div class="field">
                <button class="fluid ui primary button">Save post</button>
            </div>
        </form>
    </div>

</div>

<% include partialssemanticui/footer %>